---
layout: default
---

<div class="posts">

    {% assign posts = (site.posts) | where: "tag", !"game" %}
    {% for post in posts %}

    <div class="post">
        <span class="post-link">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </span>

        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}
                | <a href="{{ site.url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}">Comments</a>
        </span>

        {{post.excerpt}}

        <div class="post-below">
            <a href="{{ post.url }}" class="read-more">
                Read more
            </a>
        </div>
    </div>

    {% if forloop.last == false %}
    <div class="line"></div>
    {% endif %}

    {% endfor %}

</div>

{% include comments_count.html %}

